<div class="p-3">
    <div class="card flex justify-content-center">
      <span class="p-float-label">
      <p-calendar
        [(ngModel)]="fechaFin"
        class="custom-calendar"
        appendTo="body"
        placeholder=""
        [showTime]="true"
        dateFormat="dd/mm/yy"
        (onSelect)="setMinDateFin($event)"
        [minDate]="minDateFin"
        [maxDate]="maxDateFin"
        [readonlyInput]="false"
        (onBlur)="validateInput('fechaFin')"
        (keypress)="restrictInputLength($event, 16)"
      ></p-calendar>
          <label htmlFor="fechaFin">Data de fi</label>
      </span>
    </div>
  </div>