@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


::ng-deep .p-calendar
{
  .p-inputtext {
    &:hover {
      border-color: #1c7778;
      box-shadow: 0 0 9px #1c7877;
    }
    &:focus {
      border-color: #1c7778;
      box-shadow: 0 0 5px #1c7877;
    }
  }
}
::ng-deep :root
{
  --bs-border-width: 0px;
}
::ng-deep .p-datepicker table td.p-datepicker-today > span.p-highlight
{
  color: #1c7877 !important;
  background-color: #b0b0b0;
}
::ng-deep .p-datepicker:not(.p-datepicker-inline) .p-datepicker-header 
{
   background: #1c7778 15%;
}
::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year 
{
   color: white;
   &:hover{
    color: #b0b0b0 !important;
   }
}
::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month 
{
   color: white;
   &:hover{
    color: #b0b0b0 !important;
   }
}
::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-prev, .p-datepicker .p-datepicker-header .p-datepicker-next 
{
   color: white;
}
::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-next, .p-datepicker .p-datepicker-header .p-datepicker-prev 
{
   color: white;
}
::ng-deep .p-datepicker table td 
{
  padding: 0.3rem ;
}
::ng-deep .p-datepicker table td > span 
{
  width: 1.7rem;
  height: 1.7rem;
}
::ng-deep .p-datepicker .p-timepicker
{
  border-top: 1px solid;
  padding: initial;
  font: -webkit-small-control;
  margin: 0.3em;
}
::ng-deep .p-datepicker .p-timepicker button
{
  color: #1c7877;
}
::ng-deep .p-datepicker table td > span.p-highlight
{
  color: #1c7877;
  background: #b0b0b0;
}
::ng-deep .p-datepicker:not(.p-datepicker-inline)
{
  width: 350px;
  color: #1c7877;
  text-align: center;
}
::ng-deep .p-3
{
  width: 200px;
}