<div class="p-3">
    <div class="card flex justify-content-center">
      <div class="p-datepicker-header ng-tns-c12-0">
        <p-calendar
          [(ngModel)]="fechaInicio"
          appendTo="body"
          placeholder="Data d'inici"
          (onSelect)="setMinDateInicio($event)"
          [minDate]="minDateInicio"
          [maxDate]="maxDateInicio"
          [showTime]="true"
          dateFormat="dd/mm/yy"
          [readonlyInput]="false"
          (onBlur)="validateInput('fechaInicio')"
        (keypress)="restrictInputLength($event, 16)"
        ></p-calendar>
      </div>
    </div>
  </div>