<div class="p-3">
    <div class="card flex justify-content-center">
      <span class="p-float-label">
        <p-calendar
          [(ngModel)]="fechaInicio"
          class="custom-calendar"
          appendTo="body"
          placeholder=""
          (onSelect)="setMinDateInicio($event)"
          [minDate]="minDateInicio"
          [maxDate]="maxDateInicio"
          [showTime]="true"
          dateFormat="dd/mm/yy"
          [readonlyInput]="false"
          (onBlur)="validateInput('fechaInicio')"
        (keypress)="restrictInputLength($event, 16)"
        ></p-calendar>
          <label htmlFor="fechaInicio">Data d'inici</label>
        </span>
      </div>
    </div>
 