@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.p-calendar .p-datepicker {
  color: lightseagreen;
  top: 50px;
  z-index: 1000;
  left: -60px;
  width: 280px;
}
.p-component .p-component * {
  display: inline-table;
}

.p-datepicker table {
  table-layout: fixed;
}

$gd_green_gradient: linear-gradient(
  to right,
  #1b6274 0%,
  #1c7778 15%,
  #1b6274 100%
);
$brand-links: #1c7877;
$brand-900: #1b4646;

//Actions
$theme_info: #0dcaf0;

//Neutral
$neutral-50: #f6f6f6;
$neutral-100: #e7e7e7;
$neutral-200: #d1d1d1;
$neutral-300: #b0b0b0;
$neutral-400: #888888;
$neutral-500: #6d6d6d;
$neutral-600: #5d5d5d;
$neutral-700: #4f4f4f;
$neutral-800: #3d3d3d;
$neutral-900: #1a1a1a;
$neutral-950: #000000;
$neutral-gris-oscuro: #696973;
$neutral-gris-claro: #b7b7bd;
$neutral-odd-tabla: #f2f2f2;
$neutral-blanco: #ffffff;

//Theme Colors
//Grey
$grey-600: #6c757d;
//Green
$green-500: #198754;
//Yellow
$yellow-500: #ffc107;
//Cyan
$cyan-500: #0dcaf0;
//Red
$red-500: #dc3545;
