<!--Desplegable formulario-->
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        style="color: black"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseOne"
        aria-expanded="true"
        aria-controls="panelsStayOpen-collapseOne"
      >
        <strong>Formulario</strong>
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseOne"
      class="accordion-collapse collapse show"
    >
      <div class="accordion-body">
        <!--Contenedores-->
        <div class="container text-center">
          <div class="row justify-content">
            <!--Nombre-->
            <div class="container text-center">
              <div class="row g-2">
                <div class="col-5">
                  <div class="p-3">
                    <div class="form-floating mb-1">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="nombre"
                        placeholder=""
                      />
                      <label for="nombre">Nombre</label>
                    </div>
                  </div>
                </div>

                <!--Cantidad-->
                <div class="col-5">
                  <div class="p-3">
                    <div class="form-floating mb-1">
                      <input
                        type="number"
                        class="form-control"
                        [(ngModel)]="cantidad"
                        placeholder="1234567890"
                        pattern="[0-9]*"
                        (keydown)="validationInput($event)"
                      />
                      <label for="cantidad">Cantidad</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Descripción-->
            <div class="col-8">
              <div class="p-3">
                <div class="form-floating mb-1">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="descripcion"
                    placeholder=""
                  />
                  <label for="descripcion">Descripción</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Fecha inicio-->
        <div class="container text-center">
          <div class="row justify-content-center row-cols-lg-5">
            <div class="col-5">
              <div class="p-3">
                <div class="card flex justify-content-center">
                  <div class="p-datepicker-header ng-tns-c12-0">
                    <p-calendar
                      [(ngModel)]="fechaInicio"
                      appendTo="accordion"
                      placeholder="Fecha de Inicio"
                      (onSelect)="setMinDate($event)"
                      [showTime]="true"
                      dateFormat="dd/mm/yy"
                      
                    ></p-calendar>
                  </div>
                </div>
              </div>
            </div>

            <!--Fecha fin-->
            <div class="col-5">
              <div class="p-3">
                <div class="card flex justify-content-center">
                  <p-calendar
                    [(ngModel)]="fechaFin"
                    appendTo="accordion"
                    placeholder="Fecha de Fin"
                    [showTime]="true"
                    dateFormat="dd/mm/yy"
                    [minDate]="maxDate"
                    [readonlyInput]="true"
                  ></p-calendar>
                </div>
              </div>
            </div>
          </div>

          <!--Botón Agregar-->
          <div class="d-grid gap-2 d-md-block">
            <button
              class="btn btn-secondary"
              type="button"
              (click)="onSubmit()"
            >
              Agregar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Desplegable Tabla-->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseThree"
        aria-expanded="false"
        aria-controls="panelsStayOpen-collapseThree"
      >
        <strong>Tabla</strong>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div class="card">
          <p-table
            [value]="lista"
            styleClass="p-datatable-striped"
            [tableStyle]="{ 'min-width': '50rem' }"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Descripción</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lista>
              <tr>
                <td>{{ lista.nombre }}</td>
                <td>{{ lista.cantidad }}</td>
                <td>{{ lista.descripcion }}</td>
                <td>{{ lista.fechaInicio | date : "dd/MM/yyyy HH:mm:ss" }}</td>
                <td>{{ lista.fechaFin | date : "dd/MM/yyyy HH:mm:ss" }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
