.form-control {
  border-radius: 0%;
}
.form-control,
.form-select {
  border-width: 3px;
}
.form-control:focus,
.form-select:valid:focus {
  box-shadow: none;
  border: 3px solid #b3b3b3;
}
.accordion {
  --bs-accordion-btn-bg: #ededed;
  --bs-accordion-active-bg: #b3b3b3;
  --bs-accordion-btn-focus-box-shadow: none;
}
.accordion-item
{
   background-color: #dbdbdb;
}
.card 
{
   border-radius: 0%;
  }
.card 
{
  border-radius: 0%;
}
.btn-secondary {
  --bs-btn-color: #000;
  --bs-btn-bg: #dee2e6;
}
::ng-deep .p-datepicker:not(.p-datepicker-inline) .p-datepicker-header 
{
  background: red;
}

::ng-deep .p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover 
{
  background: blue;
}
::ng-deep .p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
   background: lightseagreen;
}
::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year 
{
   color: white;
}
::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month 
{
   color: white;
}
::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-prev, .p-datepicker .p-datepicker-header .p-datepicker-next 
{
   color: white;
}
::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-next, .p-datepicker .p-datepicker-header .p-datepicker-prev 
{
   color: white;
}
::ng-deep .p-datepicker table td {
  padding: 0.3rem ;
}
::ng-deep .p-datepicker table td > span {
  width: 1.7rem;
  height: 1.7rem;
}
::ng-deep .p-datepicker table {
  font-size: 11pt;
  margin: -0.170rem 0;
}
::ng-deep .p-datepicker .p-datepicker-header {
  padding: 0.2rem;
}
::ng-deep .p-calendar .p-datepicker
{
  height: 370px;
  display: inline-table;
  border: solid;
}
::ng-deep .p-datepicker .p-timepicker
{
  border-top: 1px solid;
  padding: initial;
  font: -webkit-small-control;
  margin: 0.3em;
}
::ng-deep .p-datepicker .p-timepicker span 
{
  font-size: 1.1rem;
}
::ng-deep .p-datepicker .p-timepicker button:last-child 
{
  margin-top: -0.20em;
}
